html,body{
    margin:0;
    font-family: "Montserrat";
    
}
.number {
    background-color: #5F7175;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 4px 10px auto;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

  #content{
    margin : 0;
    padding: 0;
    display: flex;
}

  .leftside{
      width: 25%;
      background-color: #5F7175;
      float: left;
      margin : 0;
      padding-top: 80px;
      text-align: center;
      margin-top: 50px;
      flex-grow: inherit;
      min-height: calc(100vh - 130px);
      
  }

  .rightside{
      width:75%;
      float: right;
      margin : 0;    
      margin-top: 70px;
  }

  .center{
    text-align: center;
    height: 100vh;
    margin : 0;    
}

  form{
      text-align: center;
      padding: 10px;
  }


  legend{
      margin: 30px;
  }

  .radioitem{
      margin: 10px 23%;
      
  }


   input[type="radio"]{
    border: 0;
    outline: 0;
    float: left;
    margin-right: 10px;
    padding: 5px;
  } 

 .label {
    float: left;
    font-family: 'Montserrat';
  } 

  input[type="button"],
  .buttons{
    padding: 15px;
    color: #5F7175;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-family: "Montserrat";
    border-radius: 5px;
    width: 60%;
    /* border: 1px solid #3ac162; */
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin:50px auto;
  }

  a{
    display: block;
    text-decoration: white;
    text-decoration-line: none;
    
  }

#submit, 
.search-button,  
input[type="submit"],
button
{
    padding: 15px;
    color: #fff;
    background-color: #5F7175;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-family: "Montserrat";
    border-radius: 5px;
    width: 20%;
    /* border: 1px solid #3ac162; */
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin:20px auto;
  }


  input[type="textarea"],
  input[type="password"],
  input[type="number"],
  input[type="text"]
   {
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      font-size: 12px;
      height: auto;
      margin: 10px auto;
      padding: 15px;
      width: 50%;
      font-family: "Montserrat";
  }

  header {
    position: fixed;
    width: 100%;
    background-color: #262827;
    top: 0;
    color: #fff;
    font-family: 'Montserrat';
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  #logo{
    padding: 15px 5%;
  }

  #search-staff{
    border: 1px solid black;
    background: transparent;
    font-size: 8px;
    height: auto;
    margin: 10px 50px;
    padding: 20px;
    width: 50%;
    font-family: "Montserrat";
  }

#search-button{
  padding: 15px;
  color: #fff;
  background-color: #5F7175;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  font-family: "Montserrat";
  border-radius: 5px;
  width: 20%;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin: 20px auto;
}

  #search{
    display: inline;
    margin: auto;
    padding: auto;
  }

  #addQuestion
  {
    padding-top: 150px;
  }

  .lab{
    float: left;
    padding-left: 12%;
  }

  #insert{
    padding-top: 70px;
  }
