html,body{
    margin:0;
    font-family: "Montserrat";
    
}
.number {
    background-color: #5F7175;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 4px 10px auto;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

  .leftside{
      width: 30%;
      background-color: #5F7175;
      float: left;
      min-height: 150vh;
      margin : 0;
      padding-top: 100px;
      text-align: center;
  }

  .rightside{
      width:70%;
      float: right;
      min-height: 100vh;
      margin : 0;    
      
  }

  form{
      text-align: center;
      padding: 10px;
  }

  .content{
      margin : 0;
      padding: 0;

  }

  legend{
      margin: 30px;
  }

  .radioitem{
      margin: 10px 23%;
      
  }


   input[type="radio"]{
    border: 0;
    outline: 0;
    float: left;
    margin-right: 10px;
    padding: 5px;
  } 

 .label {
    float: left;
    font-family: 'Montserrat';
  } 

  input[type="button"]{
    padding: 15px;
    color: #5F7175;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-family: "Montserrat";
    border-radius: 5px;
    width: 60%;
    /* border: 1px solid #3ac162; */
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin:20px auto;
  }

#submit{
    padding: 15px;
    color: #fff;
    background-color: #5F7175;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-family: "Montserrat";
    border-radius: 5px;
    width: 20%;
    /* border: 1px solid #3ac162; */
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin:20px auto;
  }


  input[type="textarea"],
  input[type="password"],
  input[type="number"],
  input[type="text"]
   {
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      font-size: 12px;
      height: auto;
      margin: 10px auto;
      padding: 15px;
      width: 50%;
      font-family: "Montserrat";
  }

